<div class="container">
  <div class="picture-container">
    <img [src]="'data:image/jpeg;base64,' + survey.pic1" *ngIf="survey.pic1" (click)="openFileDialog()" class="pic"/>
    <div *ngIf="!survey.pic1" (click)="openFileDialog()" class="pic light-background"><i class="fa fa-picture-o default-icon"></i></div>
    <img [src]="'data:image/jpeg;base64,' + survey.pic2" *ngIf="survey.pic2" (click)="openFileDialog()" class="pic"/>
    <div *ngIf="!survey.pic2" (click)="openFileDialog()" class="pic light-background"><i class="fa fa-picture-o default-icon"></i></div>
  </div>
  <div class="form-group">
    <label>OPTIONAL: giving the users a hint to where to look at</label>
    <input type="text" maxlength="25" class="form-control" placeholder="Title" [(ngModel)]="survey.title">
  </div>
  <div class="form-group" *ngIf="security">
    <label class="survey-label">Expected answer:</label>
    <div class="btn-group">
      <button type="button" class="btn" [class.btn-secondary]="survey.expectedAnswer != 1" [class.btn-success]="survey.expectedAnswer == 1" (click)="survey.expectedAnswer = 1">Picture 1</button>
      <button type="button" class="btn" [class.btn-secondary]="survey.expectedAnswer != 2" [class.btn-success]="survey.expectedAnswer == 2" (click)="survey.expectedAnswer = 2">Picture 2</button>
      <button type="button" class="btn" [class.btn-secondary]="survey.expectedAnswer != 3" [class.btn-success]="survey.expectedAnswer == 3" (click)="survey.expectedAnswer = 3">Skip answer</button>
    </div>
  </div>
  <div class="form-group">
    <label class="survey-label">Gender:</label>
    <div class="btn-group">
      <button type="button" class="btn" [class.btn-secondary]="survey.female" [class.btn-success]="survey.male && !survey.female" (click)="survey.male = true; survey.female = false">Male only</button>
      <button type="button" class="btn" [class.btn-secondary]="survey.male" [class.btn-success]="!survey.male && survey.female" (click)="survey.male = false; survey.female = true">Female only</button>
      <button type="button" class="btn" [class.btn-secondary]="!survey.male || !survey.female" [class.btn-success]="survey.male && survey.female" (click)="survey.male = true; survey.female = true">Male and Female</button>
    </div>
  </div>
  <div class="form-group flex-left">
    <label class="survey-label">Age:</label>
    <div class="input-group" style="width: 180px;">
      <input type="number" min="1" max="99" class="form-control" [(ngModel)]="survey.minAge">
      <span class="input-group-addon"><i class="fa fa-minus"></i></span>
      <input type="number" min="1" max="99" class="form-control" [(ngModel)]="survey.maxAge">
    </div>
  </div>
  <div class="flex-left">
    <label class="survey-label">Countries:</label>
    <div class="input-group inherited-width">
      <select class="form-control" [(ngModel)]="addedCountry" (ngModelChange)="addCountry($event)">
        <option disabled value="default">Add country</option>
        <option *ngFor="let country of allCountries" [ngValue]="country">{{country.nameEng}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="survey-label">&nbsp;</label>
    <span *ngIf="selectedCountries.length > 0" class="flag-list">
      <span *ngFor="let country of selectedCountries">
        <img src="assets/img/flags/{{country.alpha3}}.png" title="{{country.nameEng}}" class="fake-link" (click)="removeCountry(country)">
      </span>
    </span>
    <span class="placeholder-grey" *ngIf="selectedCountries.length == 0">no restrictions</span>
  </div>
  <div class="text-xs-center" *ngIf="security">
    <button class="btn btn-primary" [disabled]="!survey.pic1 || !survey.pic2 || !survey.expectedAnswer" (click)="createSecurityAtp()">Create Security ATP</button>
  </div>
  <div class="text-xs-center" *ngIf="!security">
    <button class="btn btn-primary" [disabled]="!survey.pic1 || !survey.pic2" (click)="createAtp()">Create ATP</button>
  </div>
</div>

<input type="file" accept="image/*" id="security-new-file-selection" value="Choose a file" (change)="fileChangeEvent($event)" class="hidden">
<div [class.modal-background]="croppie" [class.hidden]="!croppie" (click)="destroyCroppie()">
  <div class="croppie-modal" (click)="$event.stopPropagation()">
    <div id="security-new-croppie"></div>
    <div class="modal-buttons">
      <button class="btn btn-primary" (click)="setPicture(true)">As Picture 1</button>
      <button class="btn btn-primary" (click)="setPicture(false)">As Picture 2</button>
    </div>
  </div>
</div>
