<div class="page">
  <div class="menu p-r-1" *ngIf="model.webuser">
    <nav class="nav nav-stacked text-nowrap">
      <ul>
        <li class="nav-item">
          <a [routerLink]="['/atps/list']" [routerLinkActive]="['activenav']" class="nav-link">My ATPs</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/atps/new']" [routerLinkActive]="['activenav']" class="nav-link">New ATP</a>
        </li>
        <li class="nav-item" *ngIf="model.userRights.security">
          <a [routerLink]="['/atps/securityList']" [routerLinkActive]="['activenav']" class="nav-link">List security ATPs</a>
        </li>
        <li class="nav-item" *ngIf="model.userRights.security">
          <a [routerLink]="['/atps/securityNew']" [routerLinkActive]="['activenav']" class="nav-link">New security ATP</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content p-l-1">
    <router-outlet></router-outlet>
  </div>
</div>
