<div class="login-page center flex-vert-center">
  <div class="mt4">
    <img width="68" src="assets/img/icon.png">
  </div>
  <div class="mt3">
    <div class="h1 color-grey">Welcome to Ask the People!</div>
    <div class="h2 color-grey mt2">Login with your email address</div>
    <div class="h1 color-inactive mt2"><span class="fake-link underline" (click)="showRegisterClosedBeta()">Register</span> for closed beta first</div>
  </div>
  <ion-item class="mt2">
    <ion-label floating>email address</ion-label>
    <ion-input type="email" [(ngModel)]="email" (keyup.enter)="doLogin()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>password</ion-label>
    <ion-input type="password" [(ngModel)]="password" (keyup.enter)="doLogin()"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button full [disabled]="!email || !password" (click)="doLogin()">LOG IN</button>
  </ion-item>
  <ion-item no-lines>
    <div class="flex-space-between">
      <span class="fake-link underline color-blue">Forgot password?</span>
      <span class="fake-link underline color-blue" (click)="showRegisterClosedBeta()"><strong>Register for closed BETA</strong></span>
    </div>
  </ion-item>
  <div class="mt3 pt3 color-grey">
    <div class="flex-center"><img width="32" src="assets/img/icon.png">&nbsp;&nbsp;Ask the People</div>
    <div class="mt2">&copy; 2017 Pacworx</div>
  </div>
</div>
