$atp-light: #f9f9f9;
$atp-gold: #d2ce0f;
$atp-danger: #c70c13;
$atp-blue-light: #659dd2;
$atp-blue: #3e85c7;
$atp-blue-dark: #134c7d;
$atp-light-blue: #ddefff;
$atp-grey: #828282;
$atp-light-grey: #f5f5f5;
$atp-light-grey2: #d4dde5;
$atp-light-grey3: #b6c5d3;
$atp-light-grey4: #dedede;
$atp-dark-grey2: #97adc1;
$atp-placeholder-grey: #acacac;
$atp-dark-text: #646f79;
$atp-green-success: #7ed321;
$atp-red: #d0021b;
$atp-orange: #ff953a;

.color-grey {
  color: $atp-grey;
}

.background-light-grey {
  background-color: $atp-light-grey !important;
}
