.fake-link {
  cursor: pointer;
}

.flag-list {
  img {
    height: 1.2em;
    width: auto;
    border: 1px black solid;
  }
}

.action-item {
  &:hover {
    background-color: $atp-light-grey4;
  }
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.allow-wrapping {
  white-space: normal !important;
}
