@media screen and (max-width: 480px) {
  .no-small-device {
    display: none;
  }

  .larger-text {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 481px) {
  .no-large-device {
    display: none;
  }

  .larger-text {
    font-size: 2rem;
  }
}
