@import "colors";

body {
  display: flex;
  justify-content: center;
  background-color: $atp-light-grey3;
}

.app-content {
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: 100%;
}
