<ion-menu side="left" persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content" *ngIf="model.webuser">
    <ion-list>
      <ion-item-group>
        <ion-item><div class="color-grey">{{model.webuser.username ? model.webuser.username : 'Me'}}</div></ion-item>
        <button ion-item menuClose (click)="showProfilePage()" ><ion-icon item-left name="person" color="atp-blue-light"></ion-icon>Personal data</button>
      </ion-item-group>
    </ion-list>

    <ion-list>
      <ion-item-group>
        <ion-item><div class="color-grey">ATPs</div></ion-item>
        <button ion-item menuClose (click)="showMyAtps()"><ion-icon item-left name="list"></ion-icon>My ATPs</button>
        <button *ngIf="model.userRights.security" ion-item menuClose (click)="showSecurityAtps()"><ion-icon item-left name="lock"></ion-icon>Security ATPs</button>
      </ion-item-group>
    </ion-list>

    <ion-list *ngIf="model.userRights.coupons || model.userRights.userAdmin">
      <ion-item-group>
        <ion-item><div class="color-grey">User Management</div></ion-item>
        <button *ngIf="model.userRights.coupons" ion-item menuClose (click)="showCoupons()"><ion-icon item-left name="card"></ion-icon>Coupons</button>
        <button *ngIf="model.userRights.userAdmin" ion-item menuClose (click)="showUsers()"><ion-icon item-left name="people"></ion-icon>Users</button>
      </ion-item-group>
    </ion-list>

    <ion-list *ngIf="model.userRights.callcenter">
      <ion-item-group>
        <ion-item><div class="color-grey">Feedback</div></ion-item>
        <button ion-item menuClose (click)="showImprovements()"><ion-icon item-left name="bulb"></ion-icon>
          <ion-badge color="danger" *ngIf="model.openImprovements > 0">{{model.openImprovements}}</ion-badge>Improvements
        </button>
        <button ion-item menuClose (click)="showBugs()"><ion-icon item-left name="bug"></ion-icon>
          <ion-badge color="danger" *ngIf="model.openBugs > 0">{{model.openBugs}}</ion-badge>Bugs
        </button>
        <button ion-item menuClose (click)="showMessageSuggestions()"><ion-icon item-left name="mail"></ion-icon>
          <ion-badge color="danger" *ngIf="model.openMessages > 0">{{model.openMessages}}</ion-badge>Message Suggestions
        </button>
        <button ion-item menuClose (click)="showOtherFeedback()"><ion-icon item-left name="paper"></ion-icon>
          <ion-badge color="danger" *ngIf="model.openOthers > 0">{{model.openOthers}}</ion-badge>Other feedback
        </button>
      </ion-item-group>
    </ion-list>

    <ion-list *ngIf="model.userRights.marketing">
      <ion-item-group>
        <button ion-item menuClose (click)="showAnnouncements()"><ion-icon item-left name="megaphone"></ion-icon>Announcements</button>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
