@import "colors";
@import "common";

.picture-container {
  display: flex;
  margin: 4vw;
  justify-content: space-between;

  .pic {
    @extend .fake-link;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    max-width: 300px;
    max-height: 300px;
    width: 20vw;
    height: 20vw;

    .default-icon {
      color: #B4B4B4;
      font-size: 7em;
    }
  }
}

.survey-label {
  min-width: 130px;
}
.flex-left {
  .survey-label {
    margin-right: 5px;
  }
}

.status-active {
  color: $atp-green-success;
}

.status-finished {
  color: $atp-red;
}

.atp-list {
  color: $atp-dark-text;
  background-color: $atp-light-blue;
  border: none;
  &:hover, &.active-survey {
    background-color: $atp-mid-blue;
  }

  .atp-list-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: $atp-light-grey2;
    border: 0.5vw solid $atp-light-grey2;
    .pic {
      width: 8em;
      height: 8em;
    }
    .atp-data {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    .atp-data-text {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.2em;
    }
    .atp-bar {
      display: flex;
      justify-content: space-between;
      height: 2.4rem;
      font-weight: 500;
      font-size: 1.4em;
      border-left: 2px solid $atp-light-grey2;
      border-right: 2px solid $atp-light-grey2;
      .expected {
        color: $atp-green-light;
        font-weight: 600;
      }
      div:not(:last-child) {
        border-right: 2px solid $atp-light-grey2;
      }
      .atp-bar-pic1 {
        @extend .flex-left;
        span {
          margin-left: 5px;
        }
        background-color: $atp-light-grey3;
      }
      .atp-bar-noOpinion {
        @extend .flex-center;
        background-color: $atp-light-grey;
      }
      .atp-bar-pic2 {
        @extend .flex-right;
        span {
          margin-right: 5px;
        }
        background-color: $atp-dark-grey2;
      }
    }
  }
}