<div class="container">
  <h4>Coupons</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Active</th>
        <th>Code</th>
        <th>Reward</th>
        <th>Created by</th>
        <th>Single use</th>
        <th>Valid date</th>
        <th>Redeemed</th>
      </tr>
    </thead>
    <tbody *ngIf="coupons">
      <tr *ngFor="let coupon of coupons">
        <td><i class="fa fa-check-square-o" *ngIf="coupon.active"></i><i class="fa fa-square-o" *ngIf="!coupon.active"></i></td>
        <td>{{coupon.code}}</td>
        <td>{{coupon.reward}}</td>
        <td>#{{coupon.adminId}} on {{coupon.creationDate | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td><i class="fa fa-check-square-o" *ngIf="coupon.singleUse"></i><i class="fa fa-square-o" *ngIf="!coupon.singleUse"></i></td>
        <td>{{coupon.startDate | date: 'dd/MM/yyyy'}}-{{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{coupon.redeemed}}</td>
      </tr>
    </tbody>
  </table>
</div>
