<div class="page">
  <div class="menu p-r-1" *ngIf="model.webuser">
    <nav class="nav nav-stacked text-nowrap">
      <a [routerLink]="['/user']" class="nav-link"><strong>User Area</strong></a>
      <ul *ngIf="model.userRights.coupons || model.userRights.userAdmin">
        <li class="nav-item" *ngIf="model.userRights.coupons">
          <a [routerLink]="['/user/coupons']" [routerLinkActive]="['activenav']" class="nav-link"><strong>Coupons</strong></a>
        </li>
        <li class="nav-item" *ngIf="model.userRights.coupons">
          <a [routerLink]="['/user/couponNew']" [routerLinkActive]="['activenav']" class="nav-link"><strong>New Coupon</strong></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content p-l-1">
    <router-outlet></router-outlet>
  </div>
</div>
