@import "parts/bootstrapFixes";
@import "parts/layout";
@import "parts/login";
@import "parts/colors";
@import "parts/common";
@import "parts/survey";
@import "parts/datepicker";

.atp-logo-text {
  color: $atp-blue;
  font-size: 1.3rem;
  font-weight: 700;
}
